---
import { Image } from 'astro:assets';
import { parseNumberToMoney } from '../../../utils/money';
import Card from './Card';

const { gender, image, name, price } = Astro.props;
---

<Card client:visible image={image} title={name}>
  <Image
    src={image}
    alt={name}
    width={400}
    height={400}
    class='w-full select-none h-[300px] object-cover hover:scale-105 transition-transform duration-300 ease-in-out'
    decoding='async'
    loading='lazy'
  />
  <div class='p-4'>
    <h3 class='text-lg font-bold mb-2'>{name}</h3>
    <p class='text-muted-foreground text-sm'>
      {gender}
    </p>
    <p class='font-bold text-lg'>
      {parseNumberToMoney(price)}
    </p>
  </div>
</Card>
